# Sample ansible.cfg to put in place when using Ansible via CLI
# This will not be suitable when using this repository via
# Ansible Automation Platform/AWX
[defaults]

# some basic default values...

inventory      = ./hosts
host_key_checking = False
vault_password_file = ./secret.txt
